/*
Syntax error: Invalid CSS after "...-spacing:auto;:": expected identifier, was "}"
        on line 18 of /home/stanislav/heroku/octopress/sass/custom/_styles.scss
        from line 10 of /home/stanislav/heroku/octopress/sass/screen.scss

Backtrace:
/home/stanislav/heroku/octopress/sass/custom/_styles.scss:18
/home/stanislav/heroku/octopress/sass/screen.scss:10
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:1010:in `expected'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:956:in `expected'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:938:in `expr!'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:734:in `declaration'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:509:in `block in declaration_or_ruleset'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:994:in `call'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:994:in `rethrow'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:481:in `block_child'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:473:in `block_contents'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:462:in `block'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:456:in `ruleset'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:480:in `block_child'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:473:in `block_contents'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:58:in `stylesheet'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/scss/parser.rb:27:in `parse'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/engine.rb:326:in `_to_tree'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/engine.rb:258:in `to_tree'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `map'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/tree/root_node.rb:20:in `render'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/engine.rb:299:in `_render'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.18/lib/sass/engine.rb:246:in `render'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/bin/compass:29:in `block in <top (required)>'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/bin/compass:43:in `call'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/bin/compass:43:in `<top (required)>'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `load'
/home/stanislav/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-spacing:auto;:\": expected identifier, was \"}\"\A         on line 18 of /home/stanislav/heroku/octopress/sass/custom/_styles.scss\A         from line 10 of /home/stanislav/heroku/octopress/sass/screen.scss"; }
